.container-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 16rem;
    height: 20rem;
    margin: 1% 1%;
    padding: 2% 1% 2% 1%;
    border: 1.5px solid rgba(128, 128, 128, 0.514);
    border-radius: 5px;
    box-shadow: 0 1px 10px 1px rgba(128, 128, 128, 0.418);
}

.btn-card{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    width: 14rem;
    padding: 1.5% 0;
    border-radius: 4px;
    cursor: pointer;
}