.container-home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-search-order{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 54%;
}

.container-home-cards-pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 58%;
}

.container-productCards{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    margin: 1% 0 4% 0;
}

.renderPages{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.btnPages{
    cursor: pointer;
    background-color: white;
    border-radius: 2px;
    border: none;
}