.container-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0%;
}

.ul-pagination{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    width: 14rem;
    margin: 0;
    padding: 0%;
}

.pageButton{
    cursor: pointer;
    background-color: white;
    border-radius: 2px;
    border: 1px solid black;
}

.pageButton.active {
    background-color: black;
    color: white;
}

.pageButton:hover{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
}

